@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔥 Increase global scale */
html {
  font-size: 18px;   /* change to 20px if you want bigger */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* REMOVE color-scheme and color/background from here */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}